h1{
    text-align: center;
    text-decoration: underline;

}

.resp {
    width: 32%;
    height: 300px;
    margin: 1%;
    display: inline-block;
    
    
}

@media only screen and (max-width:600px){
    .resp{
        width: 100%;
        display: block;
        margin: 0;

    }
}

.c-red{
    background-color: red;


}

.c-green{
    background-color: green;
}


.c-purple{
    background-color: purple;
}
